body{                                                                                   
    background-color: rgb(255, 255, 255);

}
#board{
    text-align: center;
    border: solid;
    background:transparent;
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
}
#search{
    position: absolute;
    top: 20;
    right: 0;
}
#para{
    margin-top: 100px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0c0cc0;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 27px;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
}

li a:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

* {box-sizing: border-box;}
